<!-- _includes/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">Java Backend Classroom</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="fundamentals.html">Development Fundamentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="java-fundamentals.html">Java Fundamentals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="oop.html">Object-Oriented Programming</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="uml.html">UML</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="advanced-java.html">Advanced Java SE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reactive.html">Reactive (RxJava)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="jakarta-ee.html">Jakarta EE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="spring.html">Spring Framework</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="spring-cloud.html">Spring Cloud</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="spring-ai.html">Spring AI</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
